body, a {
    color: white;
    font-family: HelveticaRoundedLTStd,Arial, Helvetica, sans-serif;
}

    a:focus, a:hover, a:active {
        color: white;
        transition-duration: 0.5s;
    }

.myBody {
    background-image: url(../img/IMG_4723.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.blog {
    margin-top: 40px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.img-responsive {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.logo {
    width: 6%;
    display: inline-block;
}

.logo-img {
    text-align: center;
    margin-top: 10px;
}

.WebHeader {
    color: #34495e;
    text-align: center;
}

.WebName {
    font-family: Pony;
    font-size: 500%;
}

.WebSologan {
    font-family: iCielAltusSerif;
    font-size: 190%;
}

.myRegion {
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    padding: 15px;
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
}

.Search {
    margin-top: 10px;
}

@font-face {
    src: url("../front/UVF HelveticaRoundedLTStd-Bd.otf");
    font-family: HelveticaRoundedLTStd;
}

.AboutUs {
    border: 5px solid white;
    font-size: 360%;
    padding: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.myBlogPostItem {
    background: rgba(255,255,255,0.6);
}

.AboutUs:hover {
    background: #00a59a;
    transition-duration: 0.6s;
}

@font-face {
    font-family: Pony;
    src: url("../front/Pony.ttf");
}

@font-face {
    font-family: iCielAltusSerif;
    src: url("../front/iCiel Altus Serif.ttf");
}

@font-face {
    font-family: BTBD;
    src: url("../front/Back to Black Demo.ttf");
}

@font-face {
    font-family: Nabila;
    src: url("../front/Nabila.ttf");
}

@font-face {
    font-family: iCiel Pacifico;
    src: url("../front/iCiel Pacifico.ttf");
}

@font-face {
    font-family: iCiel Rukola;
    src: url("../front/iCiel Rukola.ttf");
}

@font-face {
    font-family: iCiel Simplifica;
    src: url("../front/iCiel Simplifica.ttf");
}

.BlogContent {
    /*font-family: iCiel Simplifica;*/
    /*font-size: 130%;*/
    font-weight: 600;
    padding: 20px;
}

#topNav ul.nav > li a {
    /*font-family: Nabila;*/
}

.connectToSocial {
    border-bottom: 3px dashed white;
    border-top: 3px dashed white;
    text-align: center;
}

    .connectToSocial img {
        width: 20%;
    }

    .connectToSocial i {
        padding: 15px;
    }

.Quote {
    border: 7px solid white;
}

    .Quote a {
        cursor: pointer;
    }

.myQuote {
    /*font-family: Nabila;*/
    font-size: 360.2%;
    padding: 10px 0px 0px 45px;
    text-align: left;
}

.titleHead {
    background-color: rgba(255,255,255,1);
    color: #305589;
    text-align: center;
    padding: 8px 1px 10px 1px;
    /*font-family: Nabila;*/
    font-size: 180%;
}

.titleBlog {
    /*font-family: Nabila;*/
    font-size: 160%;
    padding: 5px;
}

.content {
    background-color: rgba(255,255,255,0.6);
    color: #305589;
    margin-top: 3px;
    margin-bottom: 10px;
}

.region {
    margin-top: 20px;
}

.bodyContent {
    margin-top: 50px;
}

.readMore {
    text-align: right;
    padding: 100px 10px 0px 10px;
    /*font-family: Nabila;*/
}

/*ratio wraper*/
.ratio-wrapper {
    position: relative;
    width: 100%;
}

    .ratio-wrapper:before {
        content: "";
        display: block;
    }

    .ratio-wrapper.ratio-wrapper-27-10:before {
        padding-top: 33%; /* initial ratio 27:10*/
    }

    .ratio-wrapper.ratio-wrapper-2-1:before {
        padding-top: 50%; /* initial ratio 2:1*/
    }

    .ratio-wrapper.ratio-wrapper-16-9:before {
        padding-top: 56.25%; /* initial ratio 16:9*/
    }

    .ratio-wrapper.ratio-wrapper-3-2:before {
        padding-top: 66%; /* initial ratio 1:1*/
    }


    .ratio-wrapper.ratio-wrapper-4-3:before {
        padding-top: 75%; /* initial ratio 4:3*/
    }

    .ratio-wrapper.ratio-wrapper-1-1:before {
        padding-top: 100%; /* initial ratio 1:1*/
    }

    .ratio-wrapper > .ratio-item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
/*search*/
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}

    .search-form .form-group input.form-control {
        padding-right: 20px;
        border: 0 none;
        background: transparent;
        box-shadow: none;
        display: block;
    }

        .search-form .form-group input.form-control::-webkit-input-placeholder {
            display: none;
        }

        .search-form .form-group input.form-control:-moz-placeholder {
            /* Firefox 18- */
            display: none;
        }

        .search-form .form-group input.form-control::-moz-placeholder {
            /* Firefox 19+ */
            display: none;
        }

        .search-form .form-group input.form-control:-ms-input-placeholder {
            display: none;
        }

    .search-form .form-group:hover,
    .search-form .form-group.hover {
        width: 100%;
        border-radius: 4px 25px 25px 4px;
    }

    .search-form .form-group span.form-control-feedback {
        position: absolute;
        top: -1px;
        right: -2px;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #3596e0;
        left: initial;
        font-size: 14px;
    }
/*footer*/
#footer {
    color: white;
    display: block;
    vertical-align: bottom;
    background-color: #A0BEDA;
    z-index: 101;
    font-weight: bold;
    /*font-size: 150%;*/
    padding: 15px;
    margin-top: 50px;
    text-align: center;
    /*font-family: iCielAltusSerif;*/
}

    #footer.bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #footer a.copyright {
        color: #777;
        padding: 0;
    }

    #footer .logo {
        display: block;
        margin-bottom: 10px;
    }

    #footer .spaced {
        padding: 60px 15px;
    }

    #footer .logo_footer {
        padding: 40px 15px;
    }

    #footer .dark {
        height: 400px;
        background-color: #305589;
    }

    #footer h2,
    #footer h3,
    #footer h4 {
        color: #fff;
    }

    #footer .copyright {
        /*background-color: #305589;*/
    }


    #footer hr {
        border: 0;
        margin: 0;
        padding: 0;
        border-top: #305589 1px solid;
        border-bottom: #305589 1px solid;
    }

    #footer li {
        position: relative;
        padding: 6px 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

        #footer li:after {
            width: 100%;
            content: "";
            border-bottom: 1px solid #1a1a1a;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        #footer li a {
            color: #777;
            text-decoration: none;
            font-size: 14px;
            -webkit-transition: all .2s ease 0s;
            -moz-transition: all .2s ease 0s;
            -o-transition: all .2s ease 0s;
            transition: all .2s ease 0s;
        }

            #footer li a:hover {
                color: #fff;
            }

        #footer li small {
            font-size: 11px;
        }

            #footer li small.ago {
                color: #666;
            }

    #footer .input-group-btn .btn,
    #footer .input-group .btn,
    #footer .form-control {
        border: 0;
        height: 38px;
        margin-top: 0;
    }

    #footer .input-group-btn .btn {
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    #footer input.form-control {
        -webkit-border-top-left-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    #footer form {
        padding: 0;
    }


    /* simple list */
    #footer ul.nobordered li:after,
    #footer ul.nobordered li {
        border-bottom: 0;
        padding: 0;
    }

        #footer ul.nobordered li a {
            padding: 3px 0;
        }

            #footer ul.nobordered li a > i.fa {
                padding-right: 6px;
            }

.carousel-control {
    opacity: 0;
}

.myRatio {
    padding-top: 38%;
}

.MysSwiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
    transform: translate3d(-1565px, 0px, 0px);
}

.myslider {
    border-top: 4px dashed white;
    border-bottom: 4px dashed white;
}
/*content*/
.myIMGBlog {
    position: relative;
}

.myCamera {
    position: absolute;
    top: 40%;
    left: 43%;
}

.block {
    background-color: white;
    color: #636769;
    padding: 0;
    box-shadow: 0px 0px 5px 2px #bdc3c7;
}

    .block h3 {
        color: #19B5FE;
        border-bottom: 3px double #bdc3c7;
    }

    .block span {
        color: rgba(255,255,255,0);
    }

    .block a {
        color: black;
    }

    .block:hover {
        background-color: #19B5FE;
        color: white;
        transition-duration: 0.2s;
    }

        .block:hover h3 {
            color: white;
            transition-duration: 0.2s;
        }

        .block:hover a {
            color: white;
            transition-duration: 0.2s;
            cursor: pointer;
        }

        .block:hover span {
            color: rgba(255,255,255,1);
            transition-duration: 0.2s;
        }

.BlockContent {
    padding-left: 15px;
    padding-right: 15px;
}

.myPhoto {
    text-align: right;
    padding: 0px 41px 22px 0px;
}
/*toTop*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 35px;
    height: 35px;
    border: none;
    text-indent: 100%;
    background: url(../images/top_move.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
