body, a {
    color: white;
}

a:hover {
    color: #00a59a;
}

.myBody {
    background-image: url(../img/sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-responsive {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.logo {
    width: 12%;
    display: inline-block;
}

.logo-img {
    text-align: center;
}

.WebName {
    text-align: center;
    font-family: Pony;
    font-size: 400%;
    color: black;
}

.WebSologan {
    text-align: center;
    font-family: iCielAltusSerif;
    font-size: 300%;
    color: #06060C;
}

.Search {
    margin-top: 10px;
}

.AboutUs {
    font-family: Pony;
    border: 5px solid white;
    font-size: 240%;
    padding: 29px;
    text-align: center;
}

.AboutUs:hover {
    background: #F2385A;
    transition-duration: 0.6s;
}

@font-face {
    font-family: Pony;
    src: url("../front/Pony.ttf");
}

@font-face {
    font-family: iCielAltusSerif;
    src: url("../front/iCiel Altus Serif.ttf");
}

@font-face {
    font-family: BTBD;
    src: url("../front/Back to Black Demo.ttf");
}

@font-face {
    font-family: Nabila;
    src: url("../front/Nabila.ttf");
}

@font-face {
    font-family: iCiel Pacifico;
    src: url("../front/iCiel Pacifico.ttf");
}

@font-face {
    font-family: iCiel Rukola;
    src: url("../front/iCiel Rukola.ttf");
}

@font-face {
    font-family: iCiel Simplifica;
    src: url("../front/iCiel Simplifica.ttf");
}
.BlogContent {
    font-family: iCiel Simplifica;
    font-size: 130%;
    font-weight: 600;
}

#topNav ul.nav > li a {
    font-family: BTBD;
}

.connectToSocial {
    border-bottom: 3px dashed white;
    border-top: 3px dashed white;
    text-align: center;
}

.connectToSocial img {
    width: 50%;
}

.myQuote {
    border: 7px solid white;
    font-family: Nabila;
    font-size: 500%;
    padding: 15px;
}

.titleHead {
    background-color: rgba(255,255,255,1);
    color: #305589;
    text-align: center;
    padding: 8px 1px 10px 1px;
    font-family: iCiel Pacifico;
    font-size: 180%;
}

.titleBlog {
    font-family: iCiel Rukola;
    font-size: 160%;
}

.content {
    background-color: rgba(255,255,255,0.6);
    color: #305589;
    margin-top: 3px;
}

.region {
    margin-top: 20px;
}

.bodyContent {
    margin-top: 50px;
}

.readMore {
    text-align: right;
    padding: 15px;
}
/*ratio wraper*/
.ratio-wrapper {
    position: relative;
    width: 100%;
}

.ratio-wrapper:before {
    content: "";
    display: block;
}

.ratio-wrapper.ratio-wrapper-27-10:before {
    padding-top: 33%; /* initial ratio 27:10*/
}

.ratio-wrapper.ratio-wrapper-2-1:before {
    padding-top: 50%; /* initial ratio 2:1*/
}

.ratio-wrapper.ratio-wrapper-16-9:before {
    padding-top: 56.25%; /* initial ratio 16:9*/
}

.ratio-wrapper.ratio-wrapper-3-2:before {
    padding-top: 66%; /* initial ratio 1:1*/
}


.ratio-wrapper.ratio-wrapper-4-3:before {
    padding-top: 75%; /* initial ratio 4:3*/
}

.ratio-wrapper.ratio-wrapper-1-1:before {
    padding-top: 100%; /* initial ratio 1:1*/
}

.ratio-wrapper > .ratio-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
/*search*/
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}
/*footer*/
#footer {
    color: #6D97C9;
    display: block;
    vertical-align: bottom;
    background-color: #305589;
    border-top: #305589 5px solid;
    z-index: 101;
    font-weight: bold;
    font-size: 150%;
    margin-top: 50px;
    text-align: center;
    font-family: BTBD;
}

#footer.bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#footer a.copyright {
    color: #777;
    padding: 0;
}

#footer .logo {
    display: block;
    margin-bottom: 10px;
}

#footer .spaced {
    padding: 60px 15px;
}

#footer .logo_footer {
    padding: 40px 15px;
}

#footer .dark {
    height: 400px;
    background-color: #305589;
}

#footer h2,
#footer h3,
#footer h4 {
    color: #fff;
}

#footer .copyright {
    background-color: #305589;
    padding: 10px 0;
}


#footer hr {
    border: 0;
    margin: 0;
    padding: 0;
    border-top: #305589 1px solid;
    border-bottom: #305589 1px solid;
}

#footer li {
    position: relative;
    padding: 6px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#footer li:after {
    width: 100%;
    content: "";
    border-bottom: 1px solid #1a1a1a;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer li a {
    color: #777;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}

#footer li a:hover {
    color: #fff;
}

#footer li small {
    font-size: 11px;
}

#footer li small.ago {
    color: #666;
}

#footer .input-group-btn .btn,
#footer .input-group .btn,
#footer .form-control {
    border: 0;
    height: 38px;
    margin-top: 0;
}

#footer .input-group-btn .btn {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#footer input.form-control {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#footer form {
    padding: 0;
}


/* simple list */
#footer ul.nobordered li:after,
#footer ul.nobordered li {
    border-bottom: 0;
    padding: 0;
}

#footer ul.nobordered li a {
    padding: 3px 0;
}

#footer ul.nobordered li a > i.fa {
    padding-right: 6px;
}
